.content {
  padding: 30px;
  background: #fff;
  width: 100%;

  p.header {
    color: #00b4a0;
    font-weight: 600;
    font-size: 16px;
  }

  .item:not(:first-child){
    margin-top: 26px;
  }

  .item {
    .icon {
      display: flex;

      span {
        margin-right: 10px;
      }
    }
  }
}