.wrapper {
  background: #fff;
  margin: 20px 60px;
  padding: 30px;
}
.content {
  padding: 30px;
  background: #fff;
  width: 100%;

  p.header {
    color: #00b4a0;
    font-weight: 600;
    font-size: 16px;
    margin-top: 26px;
  }

  p.note {
    font-size: 14px;
    color: #152935;
  }

  .item:not(:first-child){
    margin-top: 26px;
  }

  .item:last-child {
    margin-bottom: 26px;
  }

  .item {
    .icon {
      display: flex;

      span {
        margin-right: 10px;
      }
    }
  }
}
