.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px 0; */
  position: absolute;
  top: 60px;
  left: 0px;
  /* right: 0px; */
  padding: 20px 30px;
  width: 100%;
  p {
    color: #2d3f49;
    font-weight: 600;
  }
}