@import "./../../sass/card.scss";

#ottpDetails {
  width: 100%;
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 20px 26px;
    border: solid 1px #dfe3e6;
    background-color: rgba(235, 235, 235, 0.5);
  }

  span {
    margin-right: 10px;
    // display: flex;
    // align-items: center;
  }
}