#rule-engine {
  p.title {
    color: #2d3f49;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .no-rules {
    display: flex;
    justify-content: space-between;
  }

  .rule--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    line-height: 66px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f0f3f6;
    p {
      font-size: 16px;
      font-weight: 400;
      color: #152935;
      text-transform: uppercase;
    }
  }

  .rule--body {
    padding: 30px;
    border: 1px solid #dfdfdf;
    width: 100%;
    background-color: #fff;
    transition: 0.8s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
  }
  
  .label {
    margin-bottom:7px;
  }
  p {
    color: #152935;
    font-size: 14px;
  }

  input:read-only {
    background-color: #fff;
  }

  input.small {
    width: 90px;
  }

  .possession {
    max-width: 225px;
    input {
      margin-bottom: 10px;
    }
  }

  .zone-layout {
    display: flex;
    .sec-1 {
      width: 30%;
    }

    .sec-2 {
      display: flex;
      justify-content: space-between;
      width: 40%;
    }

    .sec-3 {
      width: 30%;
    }
  }

  table * {
    border: 0;
  }

  table tr th {
    text-transform: capitalize;
    padding: 0;
    background: none;
  }

  td {
    padding: 12px 0;
    font-size: 14px;
  }

  table tbody tr:hover {
    background: none;
  }

  td:first-child {
    width: 30%;
  }

  td:last-child {
    //text-align: right;
    width: 30%;
    svg:first-child {
      cursor: pointer;
      margin-right: 40px;
      width: 18px;
      height: 18px;
      g g{
        fill: #3d70b2;
      }
    }
    
    svg:last-child {
      cursor: pointer;
      width: 19px;
      height: 19px;
    }
  }
}